
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.aus {
  width: 60px;
  height: auto;
}


/* Navbar background color */
.custom-navbar {
  background-color: #004B80 !important; /* dark blue */
}

/* Navbar links */
.custom-navbar .nav-link,
.custom-navbar .navbar-brand,
.custom-navbar .dropdown-toggle {
  color: #ffffff !important; /* white text */
  font-weight: bold;
}

/* Dropdown menu background */
.custom-navbar .dropdown-menu {
  background-color: #004B80; /* same blue */
  border: none;
}

/* Dropdown items */
.custom-navbar .dropdown-item {
  color: #ffffff !important;
}

/* Dropdown hover effect */
.custom-navbar .dropdown-item:hover {
  background-color: #00365d !important; /* darker blue */
  color: #ffffff !important;
}
